
@font-face {
  font-family: 'KlavikaBold';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.otf') format('opentype');
}

body {
  font-family: 'KlavikaBold', 'Klavika', Helvetica, Arial, sans-serif;
}

.athletes-box {
  display: flex;
}

img.athlete-img {
  height: 100px;
}

.dropdown-athlete {
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: auto;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
}

.dropdown-attributes {
  text-align: left;
  list-style-type: none;
  width: 200px;
  margin: auto;
  padding-left: 20px;
}