
@font-face {
  font-family: 'KlavikaBold';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.otf') format('opentype');
}

body {
  font-family: 'KlavikaBold', 'Klavika', Helvetica, Arial, sans-serif;
}

#counter {
  color: #fff;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 29px;
  background: #ce2424;
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 45px;
}

.athletes-box, .athletes-paired {
  display: flex;
}

.chosen-left {
  position: absolute;
  padding: 5px 10px;
  background: #cc1212;
  color: #fff;
  top: 50px;
  left: 30px;
}

.chosen-right {
  position: absolute;
  padding: 5px 10px;
  background: #cc1212;
  color: #fff;
  top: 50px;
  left: 10px;
}

button#choose-btn {
  background: #cc1212;
  font-family: KlavikaBold;
  width: 100%;
  margin-top: 10px;
  letter-spacing: 2px;
  border: none;
  color: #fff;
}

img.athlete-img {
  margin: 0 auto;
  min-height: 120px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  max-height: 120px;
  cursor: pointer;
}

.versus-box{
  text-transform: uppercase;
  text-align: center;
  align-self: stretch;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vs {
  color: grey;
  font-size: 10px;
}

.dropdown-athlete {
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: auto;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  text-align: left;
}

.dropdown-attributes {
  text-align: left;
  list-style-type: none;
  margin: auto;
  font-size: 0.8rem;
  font-family: 'Klavika';
  min-width: 200px;
  background: #000000f2;
  padding: 10px;
  z-index: 999;
  color: #fff;
  width: auto;
  left: -120px;
  right: 0;
  position: absolute;
}

.dropdown-attributes-left {
  text-align: left;
  list-style-type: none;
  margin: auto;
  font-size: 0.8rem;
  font-family: 'Klavika';
  min-width: 200px;
  background: #000000f2;
  padding: 10px;
  z-index: 999;
  color: #fff;
  width: auto;
  left: 0px;
  right: 0;
  position: absolute;
}

li.closeBtn {
  font-size: 10px;
  color: #d6d6d6;
  float: right;
  cursor: pointer;
}

#athlete-name {
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}