
@font-face {
  font-family: 'KlavikaBold';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.otf') format('opentype');
}

body {
  font-family: 'Klavika', Helvetica, Arial, sans-serif;
}

.dropdown-athlete {
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: auto;
  background: #000;
  color: #fff;
  margin-bottom: 20px;
  cursor: pointer;
}

.dropdown-attributes {
  text-align: left;
  list-style-type: none;
  width: 200px;
  margin: auto;
  padding-left: 20px;
}